<div style="position: absolute;top: 10%;left: 10%;width: 100%;">
    <h1>Register New Client</h1>

    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label nzSm="6" nzXs="24" nzRequired nzFor="email">username</nz-form-label>
            <nz-form-control nzSm="14" nzXs="24" nzErrorTip="The input is not valid E-mail!">
                <input nz-input formControlName="username" id="username" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzSm="6" nzXs="24" nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control nzSm="14" nzXs="24" nzErrorTip="Please input your password!">
                <input nz-input type="password" id="password" formControlName="password" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">Register</button>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <a href="/login">back to login page</a>
        </nz-form-item>
    </form>

</div>