<h1 style="position: relative; left: 40%;">
    Login</h1>

<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
                <input formControlName="userName" nz-input placeholder="Username" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input formControlName="password" nz-input type="password" placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="changeType(2)">Log in as
                provider</button>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="changeType(1)">Log in as
                client</button>
        </nz-form-control>
    </nz-form-item>


</form>

<div style="position: absolute;top:60%; left:30%; width: 100%;">
    <a href="/provider/register" style="margin: 10%;">Register AS provider</a>

    <a href="/client/register" style="position: relative;">Register AS Client</a>
    <br />
    <br />

</div>