<nz-layout class="layout" *ngIf="logged">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item><a href="/">Home</a></li>
            <li nz-menu-item> <a href="/client/dashboard" *ngIf="loggedInClient">My Dashboard</a>
            </li>
            <li nz-menu-item>
                <a href="/provider/dashboard" *ngIf="loggedInProvider">My Dashboard</a>
            </li>
            <li nz-menu-item (click)="logout()">logout</li>
        </ul>
    </nz-header>
    <nz-content>

        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>MarketPlace ©{{yearDate}} Implement By A.M</nz-footer>
</nz-layout>

<app-login *ngIf="!logged  && !registered"></app-login>
<app-add-client *ngIf="registerProvider"></app-add-client>
<app-add-provider *ngIf="registerClient"></app-add-provider>