<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input placeholder="input search text" [(ngModel)]="query" id="textSearch" />
</nz-input-group>
<ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" (click)="search()" nzSearch>Search</button>
</ng-template>
<br><br>

<div *ngFor="let p Of listOfProduct">
    <div style="background: #ECECEC;padding:30px;">
        <nz-card style="width:300px;" [nzBordered]="false" nzTitle="{{p.name}}" [nzExtra]="extraTemplate">
            <p>{{p.description}}</p>
            <p>Card content</p>
            <p>{{p.price}}</p>
        </nz-card>
    </div>
    <ng-template #extraTemplate>
        <a href="/product/{{p.serviceId}}">view product</a>
    </ng-template>
</div>